*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
:root {
    scroll-padding-top: 10%; 
}
.container{
    width: 100%;
    height: 100vh;
    
}